.Weather {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
}
.Weather form {
  padding-bottom: 40px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
}
.cityHeader {
  font-size: 40px;
  padding-bottom: 30px;
}
.tempParameters {
  font-size: 16px;
}
.temperature {
  text-align: center;
  font-size: 35px;
  font-size: 40px;
}
.iconPicture {
  text-align: center;
  padding-top: 10px;
}
.forecast {
  text-align: center;
}
