.Weather {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
}
.Weather form {
  padding-bottom: 40px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
}
.cityHeader {
  font-size: 50px;
  padding-bottom: 20px;
}
.tempParameters {
  font-size: 18px;
}
.temperature {
  text-align: center;
  font-size: 50px;
}
.iconPicture {
  text-align: center;
}
.forecast {
  text-align: center;
}
.units {
  font-size: 20px;
  position: relative;
  bottom: 23px;
}
.forecast {
  font-size: 18px;
}
